<?xml version="1.0"?>
<configuration>
	<configSections>

		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="c3o.SqlCopy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<c3o.SqlCopy.Properties.Settings>
			<setting name="FileName" serializeAs="String">
				<value/>
			</setting>
		</c3o.SqlCopy.Properties.Settings>
	</userSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<!--	
	<oracle.dataaccess.client>
		<settings>
					<add name="DllPath" value="C:\Oracle\Fred\product\11.1.0\client_1\ODP.NET\bin\2.x"/>
			<add name="FetchSize" value="131072"/>
			<add name="PromotableTransaction" value="promotable"/>
			<add name="StatementCacheSize" value="10"/>
			<add name="TraceFileName" value="C:\temp\odpnet2.trc"/>
			<add name="TraceLevel" value="63"/>
			<add name="TraceOption" value="1"/>
		</settings>
	</oracle.dataaccess.client>-->

</configuration>
