<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Test.SqlCopy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Test.SqlCopy.Properties.Settings>
            <setting name="source" serializeAs="String">
                <value>Data Source=.\sqlexpress;Initial Catalog=&lt;source db name&gt;;Integrated Security=True</value>
            </setting>
            <setting name="destination" serializeAs="String">
                <value>Data Source=.\sqlexpress;Initial Catalog=&lt;destination db name&gt;;Integrated Security=True</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="BatchSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeepIdentity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepNulls" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckConstraints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FireTriggers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TableLock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeleteRows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreCopySql" serializeAs="String">
                <value>exec sp_msforeachtable 'ALTER TABLE ? NOCHECK CONSTRAINT all';
exec sp_msforeachtable 'ALTER TABLE ? DISABLE TRIGGER all';</value>
            </setting>
            <setting name="PostCopySql" serializeAs="String">
                <value>exec sp_msforeachtable 'ALTER TABLE ? WITH CHECK CHECK CONSTRAINT all';
exec sp_msforeachtable 'ALTER TABLE ? ENABLE TRIGGER all';</value>
            </setting>
            <setting name="ThreadCount" serializeAs="String">
                <value>0</value>
            </setting>
        </Test.SqlCopy.Properties.Settings>
    </userSettings>
</configuration>